*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section-1{
    display: flex;
    background-color: #1f2937;
    color: #f9Faf8;
    justify-content: space-around;
}

.links{
    display: flex;
    gap: 16px;
    color: #e5e7eb;
}

.section-2{
    display: flex;
    background-color: #1f2937;
    color: #f9Faf8;
    justify-content: space-around;
    align-items: start;
    flex: 1;
    align-items: center;
    
}

.image-area{
    background-color: green;
    height: 400px;
}
.header{
    
}

.section-3{
    
}

.section-4{
    
}